@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap");
:root {
  --bg-color: #f2f2f2;
  --primary-color: #0093d0;
  --text-color: #4f4f4f;
  --filter: none;
}

* {
  font-family: "Texturina", serif;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

body{
    margin: auto;
    padding: 20px;
    max-width: 500px;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    width: 100%;
    margin: 5px;
    text-align: center;
}

div{
    display: inherit;
    justify-content: center;
    width: 100%;
}

img{
    border-radius: 5px;
    margin: 10px;
}


button {
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

p{
    text-align: justify;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.title {
  color: var(--primary-color);
}

.image {
  filter: var(--filter);
}

.btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.dark-theme{
  --bg-color: #333333;
  --primary-color: #ffbb55;
  --text-color: #ffe5bc;
  --filter: brightness(0.6) contrast(1.2);
}

.light-theme{
  --bg-color: #f2f2f2;
  --primary-color: #0093d0;
  --text-color: #4f4f4f;
  --filter: none;
}

@media (prefers-color-scheme: dark) {
  :root{
  --bg-color: #333333;
  --primary-color: #ffbb55;
  --text-color: #ffe5bc;
  --filter: brightness(0.6) contrast(1.2);
  }
}
